@charset "UTF-8";

#wrap {width:100%;}
#wrap .section {width:100%;line-height:969px;font-size:200px;text-align:center;}
#wrap #section01 {background:#c99;}
#wrap #section02 {}
#wrap #section03 {}
#wrap #section04 {}
#wrap #section05 {}
#wrap #section06 {}
#wrap #section07 {}
#wrap #section08 {}
#wrap #section09 {}
#wrap #section10 {}
